/* Estilos Gerais */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: start;
    align-items: center;    
  }
  
  /* Título */
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: bold;
  }

  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .div2{
    display: block
  }