.container{
    display: flex;
    justify-content: center;
    background-color: #f0f4f8;
    height: 1080px;
    width: 100%;    
}


.card-home {
    border-radius: 8px;
    box-shadow: 10px;
    width: 600px;
    height: 200px;
    background-color: #ffffff;
    margin-top: 100px;

}

.card-home > h1, p {
    text-align: center;
}