/* src/components/Header.css */
.header {
  background-color: #F4F4F4;
  color: white;
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.header nav ul li a {
  color: #000000;
  text-decoration: none;
}

.header nav ul li a:hover {
  text-decoration: underline;
}

